<%- include ('../../partials/header'); %>

<body>
    <%- include ('../../partials/navbar')%>

    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h2>Novo artigo</h2>
            </div>
            <div class="card-body">
                <form action="/article/save" method="POST">
                    <input class="form-control" type="text" name="title" placeholder="Defina o titulo do artigo"><br>
                    <textarea class="form-control" placeholder="Escreva o artigo aqui" name="body" id="bodyArticle"></textarea><br>
                    <label>Categoria:</label>
                    <select name="category" class="form-control">
                        <%categories.forEach((category)=>{%>
                            <option value="<%=category.id%>"><%=category.title%></option>
                        <%});%>
                    </select><br>
                    <div class="col-lg-12" style="text-align: right;">
                        <button class="btn btn-success">cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include ('../../partials/footer'); %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#bodyArticle",
        plugins:[
            'advlist autolink link image lists print preview hr searcheplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    });
</script>