<%- include ('./partials/header');%>
<body>
    <%- include ('./partials/homenavbar');%>

    <div class="container">
        <br>
        <h3><%=articles.title%></h3>
        <hr><br>
        <%-articles.body%>
    </div>
</body>
<%- include ('./partials/footer');%>
