<%- include ('./partials/header'); %>
<body>
    <%- include ('./partials/homenavbar');%>
    
    <div class="container">
        <br>
        <h3>Seja bem vindo!</h3>
        <hr>

        <%articles.forEach((articles)=>{%>
        <div class="card">
                <div class="card-header">
                    <h5><%=articles.title%></h5>
                </div>
                <div class="card-body">
                    <a href="/article/<%= articles.slug%>" class="btn btn-success btn-sm">Leia mais</a>
                </div>
        </div>
        <br>
        <%});%>
        <div class="row">
            <div class="col col-12">
                <a href="/articles/page/2" style="float: right;" class="btn btn-outline-primary">Next</a>
                <br><br>
            </div>
        </div>
    </div>

</body>
<%- include ('./partials/footer'); %>